@*View dosyaları cshtml uzantılı dosyalardır. cs + html kodlarının birlikte kullanılabildiği bir formattır. Razor teknolojisi diyeceğiz buna (Html içerisinde C# kodlarını yazmamızı sağlayan bir teknolojidir.).*@
<h3>Tüm Ürünler</h3>