@model SampleProject.Models.Product @*Ama View'de user iken PartialView'de ekstradan 
farklı bir model gönderiyorsan artık partialView sadece o model'i karşılayabilir*@

<h3>Ürün Listesi</h3>

@ViewBag.Message